body {
    /* To display headers correctly below the top menu. Without it the top menu will hide the header of a section */
    padding-top: 70px;
}

h1 {
    /* color:#a7c2e6; */
    color:#5a9cce;
}

div.contact h1 {
    color:#00dc05;
}
div.challenge h1 {
    color:#00dc05;
}

div.container h2 {
    color: #00a104
}
div.container h3 {
    color: #004b04
}
h2 a {
    color:black;
}

/*
trying to limit the height of the image to 50% of the viewport's height;
the parent div is not scaled and a gray area is shown on the right side
#carousel-dojo img {
    max-height:50vh;
}
.carousel-inner {
    max-height:70vh;
}

.container-carousel {
    max-height:50vh;
}

*/

.carousel-caption p {
    font-size:1.7em;
}

table {
    border:none;
    border-collapse: collapse;
}

table.times td,th {
    margin: 5px;
    padding: 5px;
    /*border-left: 1px solid #000;*/
    /*border-right: 1px solid #000;*/
}

table td:first-child,th:first-child {
    border-left: none;
}

table td:last-child,th:last-child {
    border-right: none;
}

td.time {
    text-align: center;
}

hr {
    border-top: 3px double #00a104;
}

h1.challenge-topic  {
    text-align: center;
    color: #4c6d94;
    font-size: 400%;
    text-shadow: 2px 4px 3px rgba(32, 49, 66, 0.3);
}