h1 {
    /* color:#a7c2e6; */
    color:#5a9cce;
}
div.contact h1 {
    color:#00dc05;
}
h2.faq-group {
    color: #00a104
}
h3.faq-question {
    color: #004b04
}
h2 a {
    color:black;
}

/*
trying to limit the height of the image to 50% of the viewport's height;
the parent div is not scaled and a gray area is shown on the right side
#carousel-dojo img {
    max-height:50vh;
}
.carousel-inner {
    max-height:70vh;
}

.container-carousel {
    max-height:50vh;
}

*/

.carousel-caption p {
    font-size:1.7em;
}
